/* Estilo padrão para dispositivos grandes e médios */
body {
margin: 0;
font-family: Arial, sans-serif;
background-image: url('../img/fundo.jpg');
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

header {
width: 100%;
background-color: #000;
color: #ffffff;
padding: 10px 20px;
box-sizing: border-box;
box-shadow: 0 5px 8px  color: #ffee0082;
}

header .container {
display: flex;
align-items: center;
justify-content: space-between;
border-radius:10px 10px;
}

header .logo {
width: 50px;
height: auto;
}

header h1 {
margin: 0;

font-size: 24px;
}

h2, h3 {
color: #fff;
text-align: justify;
font-size: 20px    
}

h2 {

justify-content: center;
margin: 20px

}


.slider {
position: relative;
width: 80%;
max-width: 500px;
justify-content: center;
}

.containerum {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%; /* O container ocupa todo o espaço */
padding: 20px;
border: 1px solid #ccc;
border-radius: 30px;
backdrop-filter: blur(4px);
box-shadow: 2px 2px 5px #00a0fd80;
background-color: #30303023;
text-decoration: none;
color: inherit;
margin-bottom: 20px;
transition: transform 0.3s, box-shadow 0.3s;
}

.containerum:hover {
transform: scale(1.05);
box-shadow: 0 0 38px #009dff;
}

.containerum img {
width: 25%;
height: auto;
border-radius: 50%;
}

.containerum .text {
width: 70%;
padding-left: 10px;
color: #009dff;
}

@media (max-width: 768px) {
.containerum {
flex-direction: column;
text-align: center;
}

.containerum img {
width: 50px;
}

.containerum .text {
width: 100%;
}
}

/* Botões de navegação */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}

.prev {
left: 0;
border-radius: 3px 0 0 3px;
}

.next {
right: 0;
border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Esconde todos os containers inicialmente */
.containerum {
display: none;
}

/* Mostra o primeiro container */
.containerum.active {
display: flex;
}



.containerum {
display: flex;
align-items: center;
justify-content: space-between;
width: 30vw; /* Ajuste com viewport width */
max-width: 400px; /* Limite de largura */
min-width: 150px; /* Largura mínima */
margin: 0 auto;
padding: 10px;
border: 1px solid #ccc;
border-radius: 30px;
backdrop-filter: blur(4px);
box-shadow: 2px 2px 5px #00a0fd80;
}

.containerum:hover {

transform: scale(1.1);
box-shadow: 0 0 38px #009dff;

}

.containerum img {
width: 25%; /* Ajuste conforme necessário */
height: auto;
border-radius: 50%;
}

.containerum .text {
width: 70%;
padding-left: 10px;
color: rgb(0, 187, 255);
}

@media (max-width: 768px) {
.containerum {
flex-direction: column;
text-align: center;
width: 50vw; /* Ajuste o tamanho para telas menores */
}

.containerum:hover {
transform: scale(1.1);
box-shadow: 0 0 18px #009dff;
}

.containerum img {
width: 100%;
max-width: 40px;
padding-left: 0;
}

.containerum .text {
width: 100%;
padding-left: 0;
}
}




.product-info {
display: flex;
flex-direction: column;
align-items: center;
background: rgba(255, 255, 255, 0);
backdrop-filter: blur(10px);
padding: 20px;
border-radius: 10px;
width: 100%;
max-width: 600px;
margin-top: 20px;
box-shadow: 8px 8px 8px #eaff0068;
margin-bottom: 50px;
}

.product-info .product-image {
width: 100%;
max-width: 150px;
border-radius: 10px;
box-shadow: -2px -2px 3px #ff8800a1;
margin-bottom: 30px;
}

.product-info .product-description {
margin: 10px 0;
text-align: center;
color: #ffdd00;
margin-bottom: 30px;
text-shadow: 0 0 8px #000;
}

.product-info .buy-button {
background-color: #3700ff;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.product-info .buy-button:hover {
background-color: #ffe600;
transform: scale(1.3);
box-shadow:0 0 20px #ffdd0;
}

footer {
width: 100%;
background-color: #000;
color: #fff;
padding: 20px 0;
position: relative;
bottom: 0;
left: 0;
box-shadow: 0 -8px 15px #ffdd0;
}

.footer-container {
display: flex;
justify-content: space-around;
align-items: flex-start;
max-width: 1200px;
margin: 0 auto;

}

.footer-section {
width: 30%;
}

.footer-section h4 {
margin-bottom: 10px;
font-size: 18px;
color: #ffdd00;
}

.footer-section p, .footer-section a {
font-size: 14px;
color: #fff;
text-decoration: none;
}

.footer-section a:hover {
text-decoration: underline;
color: #ffdd00;

}

/* Estilos do menu hambúrguer */
.menu-icon {
font-size: 30px;
cursor: pointer;
color: #ffffff;
display: none;
position: absolute;
top: 10px;
right: 20px;
}

.menu-list {
display: flex;
list-style: none;
margin: 0;
}

.menu-list li {
margin-right: 20px;
}

.menu-list li:hover {
margin-right: 20px;
transform: scale(1.2);
color: #ff90c7;
text-shadow: 0 0 10px #ff2571;
}

.menu-list li a {
color: #ffffff;
text-decoration: none;
font-size: 18px;
}

.menu-list.active {
display: block;
position: absolute;
top: 50px;
right: 0;
background-color: #000000;
padding: 10px;
border-radius: 5px;
box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
.menu-list {
display: none;
flex-direction: column;
align-items: center;
width: 100%;
background-color: #000;
}

.menu-icon {
display: block;
}

.menu-list li {
margin-bottom: 10px;
}

.menu-list li a {
font-size: 16px;
}

.menu-list.active {
display: flex; /* Mostra o menu quando ativo */
right: 10px; /* Ajuste para centralizar o menu */
}
}


@media (max-width: 480px) {
footer {
padding: 15px 0;
width: 100%;

}


.footer-section h4 {
font-size: 14px;
}

.footer-section p, .footer-section a {
font-size: 10px;

}
}
/* Estilo responsivo do rodapé para dispositivos móveis */
@media (max-width: 768px) {
.footer-container {
flex-direction: column;
align-items: center;
text-align: center;
}

.footer-section {
width: 100%;
margin-bottom: 20px;

}

.footer-section h4 {
font-size: 16px;
}

.footer-section p, .footer-section a {
font-size: 12px;
}
}

@media (max-width: 480px) {
footer {
padding: 15px 0;
width: 100%;
}

.footer-section h4 {
font-size: 14px;
}

.footer-section p, .footer-section a {
font-size: 10px;
}
}

/* Estilos Responsivos */
@media (max-width: 768px) {
header .container {
flex-direction: column;
align-items: center;
}

h2, h3 {
color: #fff;
text-align: center;  
font-size: 15px;
}

header h1 {
font-size: 20px;
text-align: center;
}

.product-info {
width: 70%;
display: flex;
padding: 5px:
}

.product-info .product-image {
max-width: 250px;
}

.product-info .buy-button {
font-size: 14px;
padding: 26px 42px;
}
}



@media (max-width: 480px) {
header h1 {
font-size: 18px;
}
h2, h3 {
color: #fff;
text-align: center; 
font-size: 15px
}

.product-info {
width: 95%;
padding: 15px;
}

.product-info .product-image {
max-width: 200px;
}

.product-info .buy-button {
font-size: 12px;
padding: 20px 34px;
}
